*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* breadcrumb */
.breadcrumbMobile{
    display: none;
    padding: 20px 0 10px 10px;
    border-bottom: 1px solid #AFAFAF
    ;
}

.breadcrumbMobile ol li a{
    font-family: TT Hoves Pro Trial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
/* breadcrumb */






/* hero */
.allProductBanner{
    background-image: url("../images/contactBanner.png");
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    object-fit: cover;
}

.allProductBanner h1{
    font-family: Arimo;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    color: #ffffff;
    margin-top: 150px;
    object-fit: cover;
}
/* hero*/



/* breadcrumb */
.breadcrumbMobile{
    display: none;
    padding: 20px 0 10px 10px;
    border-bottom: 1px solid #AFAFAF
    ;
}

.breadcrumbMobile ol li a{
    font-family: TT Hoves Pro Trial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
/* breadcrumb */


/* map */

.contact h2 {
    font-family: TT Hoves Pro Trial;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    padding-bottom: 50px;
}

.contact .span1{
    font-family: TT Hoves Pro Trial;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
}


.contact .span2{
    font-family: TT Hoves Pro Trial;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.contact .span3{
    font-family: TT Hoves Pro Trial;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-bottom: 10px;
}

.contact .span4{
    font-family: TT Hoves Pro Trial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
}

.mapouter{
    max-width: 392px!important;
    height: 292px!important;
    margin-bottom: 40px;
}

.contactForm{
    padding: 0 50px;
}

.contactForm h1{
    font-family: TT Hoves Pro Trial;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;

}

.contactForm h3{
    font-family: TT Hoves Pro Trial;
font-size: 20px;
font-weight: 600;
line-height: 20px;
text-align: left;
color: #000000;
}


.fortablet h4{
    font-family: TT Hoves Pro Trial;
font-size: 32px;
font-weight: 600;
line-height: 5px;
text-align: center;
color: #000000;
padding-bottom: 50px;
}
.displayonlyfromtablet{
    display: none;
}

.fortablet{
    background-color: #F8F8F8;
    padding: 50px 0;
}

.phonelabel{
    font-family: TT Hoves Pro Trial;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #000000;
}

.phonenumber{
    font-family: TT Hoves Pro Trial;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000000;
padding-bottom: 30px;
}


/* map */









@media (max-width:1280px){
}

@media (max-width:1199px){
}

@media (max-width:991px){



    .displayonyDEsktop{
        display: none;
    }

    .displayonlyfromtablet{
        display: block;
    }

    .contactForm h2{
        text-align: center;
    }

    .contactForm .span2{
        text-align: center;
    }
}

@media (max-width:500px){

    .breadcrumbDesktop{
        display: none;
    }
    .breadcrumbMobile{
        display: block;
    }

    
    .fortablet h4{
        text-align: left;
    }

    .contactForm h2{
        text-align: left;
        font-size: 28px;
        padding-bottom: 20px;
    }

    .contactForm .span2{
        text-align: left;
    }

    .btn-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 70px;
    }
}